<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="static/vendor/jquery-1.11.3.min.js"></script>
    <script src="static/vendor/underscore-esm.js"></script>
</head>
<body>


<div class="wrapper">
    <!-- Add content here -->

    <div class="content">
        <div class="slider-wrap slider-v2" id="slider-1">
            <ul class="slider-view">
                <!-- 슬라이더 수에 따른 동적 코드 생성 -->
            </ul>
            <div class="slider-control">
                <div class="btns-wrap">
                    <button class="btn btn-prev"><span class="blind">go prev</span></button>
                    <button class="btn btn-next"><span class="blind">go next</span></button>
                </div>
                <ul class="indicator-wrap">
                    <!-- 슬라이더 수에 따른 동적 코드 생성 -->
                </ul>
            </div>
        </div>
    </div>


</div>

<script type="text/template" data-template="slide-item">
    <li class="slider-item">
        <img src="$data" alt="$data">
    </li>
</script>

<script type="text/template" data-template="indicator-item">
    <li>
        <button class="btn-indicator">
            <span class="blind">indicator ${num}</span>
        </button>
    </li>
</script>

</body>
<script>


</script>
</html>
