<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_PATH + "/ejs/menu.ejs") %>
</body>
aaaasasdadasdasd  adasdsaaaaa
</html>